.counter {
    width: 13px;
    height: 13px;
    background-color: red;
    border-radius: 50%;
    padding: 7px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-weight: bold;
    color: white;
    margin-top: -26px;
    margin-left: 12px;
}