.com--btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    /* text-transform: uppercase; */
    width: 100%;
  }
  .com--btn:hover {
    text-decoration: none;
  }

  .effect04 {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: #008000;
    outline: solid  2px #008000;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;

  }

  .effect04::before,
.effect04 span{
    margin: 0 auto;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transition-duration: 0.4s;
}

.effect04:hover{

    background-color: #000;
  }

  .effect04:hover span{
    -webkit-transform: translateY(-400%) scale(-0.1,20);
            transform: translateY(-400%) scale(-0.1,20);
  }
  
  /* .effect04::before{
    content: attr(data-sm-link-text);
      color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1,20);
            transform: translateY(500%) scale(-0.1,20);
  }
  
  .effect04:hover::before{
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1,1);
            transform: translateY(0) scale(1,1);
  } */

.card {
  border: 2px solid #6A1B94;
  background-color: rgb(106, 27, 154, 0.1);
  min-height: 250px;
  max-height: 250px;
  width: 200px;
  margin: 20px 25px 15px 25px;
  padding: 10px;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}