/* .Swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    --swiper-theme-color:#008000;
  }
  
  .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 300px;
  }
 */
