.space-x-1 {
    padding: 0;
    list-style-type: none;
}

.list-css {
    font-size: 19px;
    width: 7em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    font-family: sans-serif;
    /* text-transform: capitalize; */
    position: relative;
    transition: 0.5s;
}

.list-css::before,
.list-css::after {
    content: '';
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    background-color: gainsboro;
    border-radius: 50%;
    transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
    top: calc(50% - 0.3em / 2);
}

.list-css::before {left: 0; z-index: -1;}
.list-css::after {right: 0; z-index: -2;}

.list-css:hover {
    color: white;
}

.list-css:hover::before,
.list-css:hover::after {
    width: 100%;
    height: 90%;
    border-radius: 0;
    background-color: #42C924;
}

.list-css:hover::before {
    top: 0;
}

.list-css:hover::after {
    right: -0.4em;
    filter: brightness(0.8);
}
