@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

.profile--chage--btn{
    position: relative;
    display: inline-flex;
    width: 130px;
    height: 50px;
    margin: 0 15px;
    perspective: 1000px;
  }
  .profile--chage--btn a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  .profile--chage--btn a:before,
  .profile--chage--btn a:after{
    position: absolute;
    content: "프로필 변경";
    height: 50px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #008000;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .profile--chage--btn a:before{
    color: #42C924;
    background: #008000;
    transform: rotateY(0deg) translateZ(25px);
  }
  .profile--chage--btn a:after{
    color: #008000;
    transform: rotateX(90deg) translateZ(25px);
  }
  .profile--chage--btn a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
  